@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white; /* fallback color */
  background-color: #000;
  @apply text-white text-base py-10 bg-fixed bg-no-repeat animate-gradient-shift;
}

.avatar {
  @apply lg:w-28 md:w-24 w-1/4 mx-auto rounded-full;
}

.title {
  @apply text-center py-5;
}

.link-container {
  @apply 2xl:w-1/3 xl:w-1/2 w-11/12 h-16 mb-3 overflow-hidden;
  @apply flex justify-center items-center relative;
  @apply border-solid border-2 cursor-pointer;
  @apply rounded-xl;
  transition: background-color 0.5s ease;
}

.link-container:hover {
  @apply mix-blend-screen;
  background-color: white; /* fallback color */
  color: black; /* fallback color */
  @apply bg-white text-black;
}

.link-container:hover .hover-uninvert {
  @apply invert-0;
}

.link-container:hover .hover-invert {
  @apply invert;
}

.link-logo {
  @apply absolute block w-auto h-8 left-3 object-contain;
  object-position: initial;
}

#links ul li {
  @apply flex justify-center items-center;
}

.hover-uninvert {
  @apply filter invert;
}

.hover-invert {
  @apply filter invert-0;
}
