@import "tailwindcss";

@theme {
  --animate-gradient-shift: gradient-shift 5s ease alternate infinite;

  @keyframes gradient-shift {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  @apply text-white text-base py-10 bg-gray-950;
}

.avatar {
  @apply lg:w-28 md:w-24 w-1/4 mx-auto rounded-full;
  @apply bg-gray-800;
  aspect-ratio: 1;
}

.title {
  @apply text-center pt-5 text-3xl;
}

.subtitle {
  @apply text-center pt-2 pb-10 text-xl;
  @apply text-gray-500;
}

.link-container {
  @apply 2xl:w-1/3 xl:w-1/2 w-11/12 h-16 mb-3 overflow-hidden;
  @apply flex justify-center items-center relative;
  @apply border-solid border-2 cursor-pointer border-gray-900;
  @apply rounded;
  transition: border-color 0.5s ease;
}

.link-container:hover {
  @apply border-gray-600;
}

.link-logo {
  @apply absolute block w-auto h-8 left-3 object-contain;
  object-position: initial;
}

#links ul li {
  @apply flex justify-center items-center;
}

#links li {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

#links li.fade-in {
  opacity: 1;
  transform: translateY(0);
}
